name: PMD Code Scan

on:
  push:
    branches: ["**"]

jobs:
  pmd:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Run PMD
        uses: pmd/pmd-github-action@v2
        with:
          version: "7.0.0-rc4"
          sourcePath: "src/main/java"
          rulesets: "rulesets/java/quickstart.xml"